<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href=".css" />
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/Dokter/index.css') }}" />
    <title>Homepage Dokter</title>
  </head>
  <body>
    {% include "flashTemplate.html" %}

    <div class="container">
      <aside class="sidebar">
        <div class="logo">
          <h1>Klinik SehatBro.</h1>
        </div>
        <nav>
          <ul>
            <li id="nav-homepage">
              <img src="{{ url_for('static', filename='images/Dokter/hom‪e-white.png') }}" />
              <a href="{{ url_for('homepageDokter') }}" id="link-homepage">Homepage</a>
            </li>
            <li id="nav-booking">
              <img src="{{ url_for('static', filename='images/Dokter/calendar-add.png') }}" />
              <a href="{{ url_for('janjiTemu') }}">Janji Temu</a>
            </li>
            <li id="nav-logout">
              <img src="{{ url_for('static', filename='images/Dokter/logout.png') }}" />
              <a href="{{ url_for('logout') }}">Logout</a>
            </li>
          </ul>
        </nav>
      </aside>

      <main class="main-content">
        <header class="page-header">
          <div class="header-content">
            <h2>Selamat Datang <br>
                <!-- menyambut siapa dokternya yang login -->
                <span>
                    {{ nama }}
                </span>!
            </h2>
            <p>
              Siap memberikan pelayanan terbaik untuk pasien dan keluarga.
            </p>
          </div>
        </header>

        <section id="homepage" class="content-section">
          <div class="feature-cards">
            <div class="card">
              <div class="title">
                Total Pasien Hari Ini
              </div>
                <!-- menunjukan total pasien yang ditemui bulan ini -->
            <h1>
              <span>
                14
              </span>
            </h1>
            </div>
            <div class="card">
                <div class="title">
                    Total Pasien Bulan Ini
                </div>
                <!-- menunjukan total pasien yang ditemui bulan ini -->
                <h1>
                  <span>
                      60
                  </span>
                </h1>
            </div>
            <div class="card">
              <div class="title">
                Sisa Pasien Hari Ini
              </div>
                <!-- menunjukan sisa pasien hari ini yang perlu ditemui -->
                 <h1>
                  <span>
                      0
                  </span>
                </h1>
            </div>
          </div>
        </section>
      </main>
    </div>

    <footer>
      <p>&copy; 2024 Klinik SehatBro. | All Rights Reserved</p>
    </footer>
  </body>
</html>
