<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='styles/Booking/bookingStyle.css') }}"
    />
    <title>Jadwal Dokter</title>
  </head>
  <body>
    <div class="container">
      <!-- Sidebar -->
      <aside class="sidebar">
        <div class="logo">
          <h1>Klinik SehatBro.</h1>
        </div>
        <nav>
          <ul>
            <li id="nav-homepage">
              <img
                src="{{ url_for('static', filename='images/Booking/home-gray.png') }}"
              />
              <a href="{{ url_for('homepage') }}" id="link-homepage">Homepage</a>
            </li>
            <li id="nav-booking">
              <img
                src="{{ url_for('static', filename='images/Booking/calendar-add-white.png') }}"
              />
              <a href="#">Booking</a>
            </li>
            <li id="nav-jadwal">
              <img
                src="{{ url_for('static', filename='images/Booking/calendar-tick-gray.png') }}"
              />
              <a href="{{ url_for('jadwaltemu') }}">Jadwal Temu</a>
            </li>
            <li id="nav-tagihan">
              <img
                src="{{ url_for('static', filename='images/Booking/receipt-text.png') }}"
              />
              <a href="{{ url_for('tagihan') }}">Tagihan</a>
            </li>
            <li id="nav-profile">
              <img
                src="{{ url_for('static', filename='images/Booking/profile-circle.png') }}"
              />
              <a href="{{ url_for('profile') }}">Profile</a>
            </li>
            <li id="nav-logout">
              <img
                src="{{ url_for('static', filename='images/Booking/logout.png') }}"
              />
              <a href="{{ url_for('login') }}">Logout</a>
            </li>
          </ul>
        </nav>
      </aside>

      <!-- Main Content -->
      <main class="main-content">
        <header>
          <h1>Booking Dokter</h1>
        </header>

        <!-- Pilih Spesialisasi -->
        <section id="specialization-selection">
          <h1>
            Jadwal untuk Dokter {{ doctor[0] }} - Spesialisasi {{ doctor[1] }}
          </h1>
          {% if schedules %}
          <table border="1">
            <tr>
              <th>Hari</th>
              <th>Jam</th>
              <th>Kuota</th>
              <th>Aksi</th>
            </tr>
            {% for schedule in schedules %}
            <tr>
              <td>{{ schedule[1] }}</td>
              <td>{{ schedule[2] }} - {{ schedule[3] }}</td>
              <td>{{ schedule[4] }}</td>
              <td>
                <form action="{{ url_for('book_schedule') }}" method="post">
                  <input
                    type="hidden"
                    name="id_jadwal"
                    value="{{ schedule[0] }}"
                  />

                  <button
                    type="submit"
                    {% if schedule[4] <= 0 %}disabled{% endif %}>
                    Booking
                  </button>
                </form>
              </td>
            </tr>
            {% endfor %}
          </table>
          {% else %}
          <p>Jadwal belum tersedia untuk dokter ini.</p>
          {% endif %}
          <a href="{{ url_for('booking') }}" id="book-button">Kembali ke Booking</a>
        </section>
      </main>
    </div>

    <footer>
      <p>&copy; 2024 Klinik SehatBro. | All Rights Reserved</p>
    </footer>
  </body>
</html>
