<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='styles/Perawat/daftarPasien.css') }}"
    />
    <title>Daftar Pasien</title>
  </head>
  <body>
    <div class="container">
      <aside class="sidebar">
        <div class="logo">
          <h1>Klinik SehatBro.</h1>
        </div>
        <nav>
          <ul>
            <li id="nav-homepage">
              <img
                src="{{ url_for('static', filename='images/Perawat/home-gray.png') }}"
              />
              <a href="{{ url_for('homepagePerawat') }}">Homepage</a>
            </li>
            <li id="nav-daftar">
              <img
                src="{{ url_for('static', filename='images/Perawat/list-white.png') }}"
              />
              <a href="{{ url_for('daftarPasien') }}" class="link-active"
                >Daftar Pasien</a
              >
            </li>
            <li id="nav-vital">
              <img
                src="{{ url_for('static', filename='images/Perawat/vital-black.png') }}"
              />
              <a href="{{ url_for('catatVital') }}">Catat Vital</a>
            </li>
            <li id="nav-dokumen">
              <img
                src="{{ url_for('static', filename='images/Perawat/document-black.png') }}"
              />
              <a href="{{ url_for('uploadDokumen') }}">Unggah Dokumen</a>
            </li>
            <li id="nav-logout">
              <img
                src="{{ url_for('static', filename='images/Perawat/logout.png') }}"
              />
              <a href="{{ url_for('logout') }}">Logout</a>
            </li>
          </ul>
        </nav>
      </aside>

      <main class="main-content">
        <header>
          <h1>Daftar Pasien Hari Ini</h1>
        </header>
        <form action="" method="GET">
          <input
            type="text"
            name="query"
            placeholder="Cari Nama Pasien"
            value="{{ search_query }}"
          />
          <button type="submit">Cari</button>
        </form>

        <!-- Tabel Data Pasien -->
        <section id="homepage" class="content-section">
          <table>
            <thead>
              <tr>
                <th>Nomor Rekam Medis</th>
                <th>Nama Pasien</th>
                <th>Nama Dokter</th>
              </tr>
            </thead>
            <tbody>
              {% for pasien in daftar_pasien %}
              <tr>
                <td>{{ pasien[0] }}</td>
                <td>{{ pasien[1] }}</td>
                <td>{{ pasien[2] }}</td>
              </tr>
              {% endfor %} {% if not daftar_pasien %}
              <tr>
                <td colspan="3">Tidak ada data ditemukan.</td>
              </tr>
              {% endif %}
            </tbody>
          </table>
        </section>
      </main>
    </div>

    <footer>
      <p>&copy; 2024 Klinik SehatBro. | All Rights Reserved</p>
    </footer>
  </body>
</html>
