<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="index.css" />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='styles/Perawat/index.css') }}"
    />
    <title>Homepage Perawat</title>
  </head>
  <body>
    {% include "flashTemplate.html" %}

    <div class="container">
      <aside class="sidebar">
        <div class="logo">
          <h1>Klinik SehatBro.</h1>
        </div>
        <nav>
          <ul>
            <li id="nav-homepage">
              <img
                src="{{ url_for('static', filename='images/Perawat/hom‪e-white.png') }}"
              />
              <a href="{{ url_for('homepagePerawat') }}" class="link-active"
                >Homepage</a
              >
            </li>
            <li id="nav-daftar">
              <img
                src="{{ url_for('static', filename='images/Perawat/list-gray.png') }}"
              />
              <a href="{{ url_for('daftarPasien') }}">Daftar Pasien</a>
            </li>
            <li id="nav-vital">
              <img
                src="{{ url_for('static', filename='images/Perawat/vital-black.png') }}"
              />
              <a href="{{ url_for('catatVital') }}">Catat Vital</a>
            </li>
            <li id="nav-dokumen">
              <img
                src="{{ url_for('static', filename='images/Perawat/document-black.png') }}"
              />
              <a href="{{ url_for('uploadDokumen') }}">Unggah Dokumen</a>
            </li>

            <li id="nav-logout">
              <img
                src="{{ url_for('static', filename='images/Perawat/logout.png') }}"
              />
              <a href="{{ url_for('logout') }}">Logout</a>
            </li>
          </ul>
        </nav>
      </aside>

      <main class="main-content">
        <header class="page-header">
          <div class="header-content">
            <h2>
              Selamat Datang <br />
              <!-- menyambut siapa dokternya yang login -->
              <span> {{nama}} </span>!
            </h2>
            <p>Siap memberikan pelayanan terbaik untuk pasien dan keluarga.</p>
          </div>
        </header>

        <section id="homepage" class="content-section">
          <div class="feature-cards">
            <div class="card">
              <div class="title">Total Pasien Hari Ini</div>
              <h1>
                <span> {{ total_pasien_hari_ini }} </span>
              </h1>
            </div>
            <div class="card">
              <div class="title">Total Pasien Bulan Ini</div>
              <h1>
                <span> {{ total_pasien_bulan_ini }} </span>
              </h1>
            </div>
          </div>
        </section>
      </main>
    </div>

    <footer>
      <p>&copy; 2024 Klinik SehatBro. | All Rights Reserved</p>
    </footer>
  </body>
</html>
