<!DOCTYPE html>
  <html lang="en">
    <head>
      <meta charset="UTF-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <link rel="stylesheet" href="{{ url_for('static', filename='styles/Perawat/uploadDokumen.css') }}" />
      <title>Homepage Perawat</title>
    </head>
    <body>
      <div class="container">
        <aside class="sidebar">
          <div class="logo">
            <h1>Klinik SehatBro.</h1>
          </div>
          <nav>
            <ul>
              <li id="nav-homepage">
                <img src="{{ url_for('static', filename='images/Perawat/home-gray.png') }}" />
                <a href="{{ url_for('homepagePerawat') }}">Homepage</a>
              </li>
              <li id="nav-daftar">
                <img src="{{ url_for('static', filename='images/Perawat/list-gray.png') }}" />
                <a href="{{ url_for('daftarPasien') }}" >Daftar Pasien</a>
              </li>
              <li id="nav-vital">
                <img src="{{ url_for('static', filename='images/Perawat/vital-black.png') }}" />
                <a href="{{ url_for('catatVital') }}">Catat Vital</a>
              </li>
              <li id="nav-dokumen">
                <img src="{{ url_for('static', filename='images/Perawat/document-white.png') }}" />
                <a href="{{ url_for('uploadDokumen') }}" class="link-active">Unggah Dokumen</a>
              </li>
              <li id="nav-profile">
                <img src="{{ url_for('static', filename='images/Perawat/profile-circle.png') }}" />
                <a href="#profile">Profile</a>
              </li>
              <li id="nav-logout">
                <img src="{{ url_for('static', filename='images/Perawat/logout.png') }}" />
                <a href="{{ url_for('logout') }}">Logout</a>
              </li>
            </ul>
          </nav>
        </aside>
  
        <main class="main-content">
            <header>
              <h1>Unggah Dokumen</h1>
            </header>
        
            <form action="" method="POST">
                    <section id="homepage" class="content-section">
                    <h3>Data Pasien</h3> 
                    <table>
                        <tr>
                            <td>Nama: </td>
                            <td>
                                <input type="text" name="namaPasien" placeholder="Masukkan Nama Pasien">
                            </td>
                        </tr>
                        <tr>
                            <td>ID Pasien: </td>
                            <td>
                                <input type="text" name="idPasien" placeholder="Masukkan ID Pasien">
                            </td>
                        </tr>
                        <tr>
                            <td>Usia: </td>
                            <td></td>
                        </tr>
                    </table>
                </section>
                <section id="keluhan" class="content-section">
                    <h3>Lampiran Dokumenn</h3>
                    <div>
                        <input type="file">
                    </div>
                </section>
                <button class="btn-unggah">Unggah</button>
            </form>
          </main>
        </div>
  
      <footer>
        <p>&copy; 2024 Klinik SehatBro. | All Rights Reserved</p>
      </footer>
    </body>
  </html>
  