<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="{{ url_for('static',
  filename='styles/PetugasAdmin/pendaftaranPasien.css') }}"
    />
    <title>Pendaftaran Pasien</title>
  </head>

  <body>
    <div class="container">
      <aside class="sidebar">
        <div class="logo">
          <h1>Klinik SehatBro.</h1>
        </div>
        <nav>
          <ul>
            <li id="nav-dashboard">
              <img
                src="{{ url_for('static', filename='images/JadwalTemu/home-gray.png') }}"
              />
              <a href="{{url_for('dashboardTagihan')}}">Dashboard</a>
            </li>
            <li id="nav-daftar">
              <img
                src="{{ url_for('static', filename='images/Booking/calendar-add-white.png') }}"
              />
              <a href="{{ url_for('pendaftaranPasien') }}" class="link-active"
                >Daftar Pasien</a
              >
            </li>
            <li id="nav-invoice">
              <img
                src="{{ url_for('static', filename='images/Booking/calendar-tick-gray.png') }}"
              />
              <a href="{{ url_for('invoice') }}">Invoice</a>
            </li>

            <li id="nav-logout">
              <img
                src="{{ url_for('static', filename='images/Booking/logout.png') }}"
              />
              <a href="{{ url_for('login') }}">Logout</a>
            </li>
          </ul>
        </nav>
      </aside>

      <main class="main-content">
        <header>
          <h1>Pendaftaran Pasien</h1>
        </header>
        <section id="Tambah-Pasien">
          <form action="{{ url_for('pendaftaranPasien') }}" method="POST">
            <div class="input-container">
              <div class="left-group">
                <div class="form-group">
                  <label for="nama">Nama Lengkap</label>
                  <input
                    type="text"
                    id="nama"
                    name="nama"
                    placeholder="Ex: Jane Doe"
                    required
                  />
                </div>

                <div class="form-group">
                  <label for="jenis_kelamin">Jenis Kelamin:</label>
                  <select id="jenis_kelamin" name="jenis_kelamin" required>
                    <option value="" disabled selected>
                      Pilih Jenis Kelamin
                    </option>
                    <option value="laki-laki">Laki-laki</option>
                    <option value="perempuan">Perempuan</option>
                  </select>
                </div>

                <div class="form-group">
                  <label for="tanggal_lahir">Tanggal Lahir:</label>
                  <input
                    type="date"
                    id="tanggal_lahir"
                    name="tanggal_lahir"
                    required
                  />
                </div>

                <div class="form-group">
                  <label for="kontak">Kontak</label>
                  <input
                    type="text"
                    id="kontak"
                    name="kontak"
                    placeholder="Ex: 081234567890"
                    required
                  />
                </div>
              </div>

              <div class="right-group">
                <div class="form-group">
                  <label for="username">Username</label>
                  <input
                    type="text"
                    id="username"
                    name="username"
                    placeholder="Ex: jane_doe"
                    required
                  />
                </div>

                <div class="form-group">
                  <label for="password">Password</label>
                  <input
                    type="text"
                    id="password"
                    name="password"
                    placeholder="Ex: password123"
                    required
                  />
                </div>

                <div class="form-group">
                  <label for="alamat">Alamat:</label>
                  <textarea
                    id="alamat"
                    name="alamat"
                    rows="3"
                    placeholder="Ex: Jl. xxx No.xx, Bandung"
                    required
                  ></textarea>
                </div>
              </div>
            </div>

            <button type="submit">Submit</button>
          </form>
        </section>
      </main>
    </div>

    <footer>
      <p>&copy; 2024 Klinik SehatBro. | All Rights Reserved</p>
    </footer>
  </body>
</html>
