<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='styles/JadwalTemu/jadwalStyle.css')}}"
    />
    <title>Jadwal Temu Pasien</title>
  </head>

  <body>
    <div class="container">
      <aside class="sidebar">
        <div class="logo">
          <h1>Klinik SehatBro.</h1>
        </div>
        <nav>
          <ul>
            <li id="nav-homepage">
              <img
                src="{{ url_for('static', filename='images/JadwalTemu/home-gray.png') }}"
              />
              <a href="{{ url_for('homepage') }}" id="link-homepage"
                >Homepage</a
              >
            </li>
            <li id="nav-booking">
              <img
                src="{{ url_for('static', filename='images/JadwalTemu/calendar-add.png' )}}"
              />
              <a href="{{ url_for('booking') }}">Booking</a>
            </li>
            <li id="nav-jadwal">
              <img
                src="{{ url_for('static', filename='images/JadwalTemu/calendar-tick.png') }}"
              />
              <a href="{{ url_for('jadwaltemu') }}">Jadwal Temu</a>
            </li>
            <li id="nav-tagihan">
              <img
                src="{{ url_for('static', filename='images/JadwalTemu/receipt-text.png') }}"
              />
              <a href="{{ url_for('tagihan') }}">Tagihan</a>
            </li>
            <li id="nav-profile">
              <img
                src="{{ url_for('static', filename='images/JadwalTemu/profile-circle.png') }}"
              />
              <a href="{{ url_for('profile') }}">Profile</a>
            </li>
            <li id="nav-logout">
              <img
                src="{{ url_for('static', filename='images/JadwalTemu/logout.png') }}"
              />
              <a href="{{ url_for('login') }}">Logout</a>
            </li>
          </ul>
        </nav>
      </aside>

      <main class="main-content">
        <header>
          <h1>Jadwal Janji Temu</h1>
        </header>

        <section class="upcoming-appointments">
          <h2>Jadwal Janji Temu Mendatang</h2>
          <table>
            <thead>
              <tr>
                <th>Dokter</th>
                <th>Spesialisasi</th>
                <th>Tanggal</th>
                <th>Waktu</th>
                <th>Nomor Antrian</th>
              </tr>
            </thead>
            <tbody>
              {% for appointment in upcoming_appointments %}
              <tr>
                <td>{{ appointment[0] }}</td>
                <!-- Dokter -->
                <td>{{ appointment[1] }}</td>
                <!-- Spesialisasi -->
                <td>{{ appointment[2] }}</td>
                <!-- Tanggal -->
                <td>{{ appointment[3] }}</td>
                <!-- Waktu -->
                <td>{{ appointment[4] }}</td>
                <!-- Nomor Antrian -->
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </section>

        <section class="history-appointments">
          <h2>History Janji Temu</h2>
          <table>
            <thead>
              <tr>
                <th>Dokter</th>
                <th>Spesialisasi</th>
                <th>Tanggal</th>
                <th>Waktu</th>
                <th>Nomor Antrian</th>
              </tr>
            </thead>
            <tbody>
              {% for appointment in history_appointments %}
              <tr>
                <td>{{ appointment[0] }}</td>
                <!-- Dokter -->
                <td>{{ appointment[1] }}</td>
                <!-- Spesialisasi -->
                <td>{{ appointment[2] }}</td>
                <!-- Tanggal -->
                <td>{{ appointment[3] }}</td>
                <!-- Waktu -->
                <td>{{ appointment[4] }}</td>
                <!-- Nomor Antrian -->
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </section>
      </main>
    </div>

    <footer>
      <p>&copy; 2024 Klinik SehatBro. | All Rights Reserved</p>
    </footer>
  </body>
</html>
