<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/Dokter/cekPasien.css') }}" />
    <title>Cek Pasien</title>
  </head>
  <body>
    <div class="container">
      <aside class="sidebar">
        <div class="logo">
          <h1>Klinik SehatBro.</h1>
        </div>
        <nav>
          <ul>
            <li id="nav-homepage">
              <img src="{{ url_for('static', filename='images/Dokter/vital-white.png') }}" />
              <a href="{{ url_for('cekPasien', nomor_rekam_medis=pasien['nomor_rekam_medis']) }}"
                id="link-homepage">Catatan Vital</a>
              </li>
            <li id="nav-booking">
              <img src="{{ url_for('static', filename='images/Dokter/document-black.png') }}" />
              <a href="{{ url_for('riwayatMedis', nomor_rekam_medis=pasien['nomor_rekam_medis']) }}">Riwayat Medis</a>
            </li>
            <li id="nav-profile">
              <img src="{{ url_for('static', filename='images/Dokter/diagnosa-black.png') }}" />
              <a href="{{ url_for('buatDiagnosa', nomor_rekam_medis=pasien['nomor_rekam_medis']) }}">Buat Diagnosa</a>
            </li>
            <li id="nav-logout">
              <img src="{{ url_for('static', filename='images/Dokter/logout.png') }}" />
              <a href="{{ url_for('janjiTemu') }}">Kembali</a>
            </li>
          </ul>
        </nav>
      </aside>

      <main class="main-content">
        <header>
          <h1>Vital dan Keluhan Pasien</h1>
        </header>

        <section id="homepage" class="content-section">
            Nomor Janji Temu: 
            <h2>
                <span>
                    {{ pasien['id_janji'] }}
                </span>
            </h2>
            <hr>
            <div class="feature-cards">
                <div class="card">
                    <table>
                        <tr>
                            <td>Nama: </td>
                            <td>{{ pasien['nama'] }}</td>
                        </tr>
                        <tr>
                            <td>ID: </td>
                            <td> {{ pasien['nomor_rekam_medis'] }} </td>
                        </tr>
                        <tr>
                            <td>Suhu Badan: </td>
                            <td>{{ pasien['suhu_badan'] }} C</td>
                        </tr>
                        <tr>
                            <td>Berat Badan: </td>
                            <td>{{pasien['berat_badan']}} Kg</td>
                        </tr>
                        <tr>
                            <td>Tekanan Darah: </td>
                            <td>{{pasien['tekanan_darah']}} mmHG</td>
                        </tr>
                        <tr>
                            <td>Tinggi Badan: </td>
                            <td>{{pasien['tinggi_badan']}} cm</td>
                        </tr>
                    </table>
                </div>
            </div>
        </section>
        <section id="keluhan" class="content-section">
            <h3>Keluhan Pasien</h3>
            <div>
                <span>
                    {{pasien['keluhan']}}
                </span>
            </div>
        </section>
      </main>
    </div>

    <footer>
      <p>&copy; 2024 Klinik SehatBro. | All Rights Reserved</p>
    </footer>
  </body>
</html>
