/* Reset CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  background-color: #f4f4f4;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

/* Container untuk layout */
.container {
  display: flex;
  flex: 1;
  width: 100%;
  flex-direction: column;
}

/* Sidebar */
.sidebar {
  width: 250px;
  background-color: white;
  color: #3b9ab8;
  padding: 20px;
  height: 100vh;
  position: fixed;
}

.sidebar .logo h1 {
  font-size: 1.8rem;
  margin-bottom: 30px;
}

nav ul {
  list-style-type: none;
  padding: 0;
}

nav ul li {
  margin: 15px 0;
  padding: 5px 10px;
  border-radius: 5px;
  display: flex;
  column-gap: 10px;
  align-items: center;
}

nav ul li a {
  color: #7e7e7e;
  text-decoration: none;
  font-size: 1.2rem;
}

nav ul li a:hover {
  text-decoration: underline;
}

nav ul img {
  width: 24px;
  height: 24px;
}

nav ul li:hover {
  background-color: #3b9bb839;
}

nav ul ul {
  display: none;
}

nav ul ul li {
  display: block;
}

#link-pekerja {
  color: white;
}

/* Dropdown Menu */
#nav-pekerja {
  background-color: #3b9ab8;
  position: relative;
}

#nav-pekerja:hover .dropdown-menu {
  display: block;
}

.dropdown-menu {
  display: none;
  position: absolute;
  left: 0;
  top: 100%;
  background-color: white;
  width: 100%;
  padding: 0;
  margin: 0;
  border-radius: 5px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-menu li {
  padding: 10px 20px;
}

.dropdown-menu li a {
  color: #7e7e7e;
  text-decoration: none;
  font-size: 1.2rem;
  display: block;
}

.dropdown-menu li:hover {
  background-color: #3b9ab839;
}

.dropdown-menu li a:hover {
  color: #3b9ab8;
  text-decoration: underline;
}

.main-content {
  margin-left: 250px;
  padding: 20px;
}

/* Header */
header {
  text-align: center;
  margin-bottom: 20px;
}

header h1 {
  font-size: 2rem;
  color: #3b9ab8;
}
