<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Detail Data Pasien</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/Admin/detailPasien.css') }}" />

  </head>
  <body>
    {% include "flashTemplate.html" %}

    <div class="container">
      <aside class="sidebar">
        <div class="logo">
          <h1>Klinik SehatBro.</h1>
        </div>
        {% include 'Admin/nav-admin-kelola-pasien.html' %}
      </aside>

      <main class="main-content">
        <header>
          <h1>Detail Data Pasien</h1>
        </header>

        <section class="detail-patient">
          <h2>Detail Pasien</h2>

          <div class="detail-container">
            <div class="left-detail">
              <div class="detail-group">
                <p><b>Nomor Rekam Medis</b></p>
                <p>123445667</p>
              </div>

              <div class="detail-group">
                <p><b>Nama Pasien</b></p>
                <p>Ahmad Fauzi</p>
              </div>

              <div class="detail-group">
                <p><b>Gender</b></p>
                <p>Laki-laki</p>
              </div>
            </div>
            <div class="right-detail">
              <div class="detail-group">
                <p><b>Alamat</b></p>
                <p>Jl. Merdeka No. 12, Bandung</p>
              </div>

              <div class="detail-group">
                <p><b>Tanggal Lahir</b></p>
                <p>1990-05-12</p>
              </div>

              <div class="detail-group">
                <p><b>Kontak</b></p>
                <p>081234567890</p>
              </div>
            </div>
          </div>
        </section>
      </main>
    </div>

    <footer>
      <p>&copy; 2024 Klinik SehatBro. | All Rights Reserved</p>
    </footer>
  </body>
</html>
