<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/Dokter/janjiTemu.css') }}" />
    <title>Janji Temu</title>
  </head>
  <body>
    {% include "flashTemplate.html" %}

    <div class="container">
      <aside class="sidebar">
        <div class="logo">
          <h1>Klinik SehatBro.</h1>
        </div>
        <nav>
          <ul>
            <li id="nav-homepage">
              <img src="{{ url_for('static', filename='images/Dokter/home-gray.png') }}" />
              <a href="{{ url_for('homepageDokter') }}" id="link-homepage">Homepage</a>
            </li>
            <li id="nav-jadwal">
              <img src="{{ url_for('static', filename='images/Dokter/calendar-tick.png') }}" />
              <a href="{{ url_for('janjiTemu') }}">Janji Temu</a>
            </li>
            <li id="nav-logout">
              <img src="{{ url_for('static', filename='images/Dokter/logout.png') }}" />
              <a href="{{ url_for('logout') }}">Logout</a>
            </li>
          </ul>
        </nav>
      </aside>

      <main class="main-content">
        <header>
          <h1>Jadwal Janji Temu</h1>
        </header>

        <section class="upcoming-appointments">
            <h2>Daftar Pasien Hari Ini</h2>
            
            <!-- fitur cari pasien -->
            <!-- <form action="" method="GET">
              <input 
                type="text" 
                name="query" 
                placeholder="Cari Nama Pasien">
                value="{{ search_query }}"
              <button type="submit">Cari</button>
            </form> -->

            <!-- Jadwal Janji Temu -->
            <table>
              <thead>
                <tr>
                  <th>Nama</th>
                  <th>Nomor Rekam Medis</th>
                </tr>
              </thead>
              <tbody>
                {% for pasien in list %}
                <tr>
                  <td>{{ pasien['nama'] }}</td>
                  <td>{{ pasien['nomor_rekam_medis'] }}</td>
                  <td>
                    <a href="{{ url_for('cekPasien', nomor_rekam_medis=pasien['nomor_rekam_medis']) }}">                      
                      <button class="btn-cek-sekarang">Cek Sekarang</button>
                    </a>
                  </td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </section>  
        </main>
    </div>
    <footer>
      <p>&copy; 2024 Klinik SehatBro. | All Rights Reserved</p>
    </footer>
  </body>
</html>
