<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Edit Dokter & Jadwal</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/Admin/editDokter.css') }}" />
  </head>
  <body>
    {% include "flashTemplate.html" %}

    <div class="container">
      <aside class="sidebar">
        <div class="logo">
          <h1>Klinik SehatBro.</h1>
        </div>
        {% include "Admin/nav-admin-kelola-pekerja.html" %}
      </aside>

      <main class="main-content">
        <header>
          <h1>Edit Data Dokter & Jadwal</h1>
        </header>

        <section class="create-schedule">
          <p>ID User: {{ dokter['id_user'] }}</p>

          <h2>Edit Data Dokter</h2>

          <!-- FORM -->
          <form id="create-schedule-form" action="/Admin/KelolaDokter/EditDokter?id_user={{ dokter['id_user'] }}" method="POST">
            <div class="left-group">
              <div class="form-group">
                <label for="doctor-npa">NPA Dokter</label>
                <input id="doctor-npa" name="doctor-npa" required
                    placeholder="Masukkan Nama Dokter"
                    value="{{dokter['npa']}}">
              </div>
              <div class="form-group">
                <label for="doctor-name">Nama Dokter</label>
                <input required id="doctor-name" name="doctor-name" type="text" value="{{dokter['nama']}}">
              </div>

              <div class="form-group">

                <!-- SPESIALISASI -->
                <label for="doctor-specialization">Spesialisasi Dokter</label>
                <select name="doctor-specialization" id="doctor-specialization">
                    <option value="{{ dokter['spesialisasi']}}" selected>{{ dokter['spesialisasi'] }}</option>
                    <option value="" disabled>-- Pilih Spesialisasi --</option>
                    {% for s in spesialisasi %}
                    <option value="{{ s['spesialisasi'] }}">{{ s['spesialisasi'] }}</option>
                    {% endfor %}
                </select>

              </div>
            </div>
            <div class="right-group">
              <div class="form-group">
                <label for="schedule-time-start">Tarif Dokter</label>

                <!-- Tarif -->
                <input
                  type="number"
                  id="schedule-time-start"
                  name="doctor-fee"
                  value="{{ dokter['tarif']}}"
                  required
                />
              </div>
              <div class="form-group">
                <label for="doctor-username">Username</label>
                <input
                  type="text"
                  id="doctor-username"
                  name="doctor-username"
                  placeholder="Ex: doct_John"
                  required
                  value="{{dokter['username']}}"
                />
          </div>

              <div class="form-group">
                <label for="doctor-password">Password</label>
                <input
                  type="text"
                  id="doctor-password"
                  name="doctor-password"
                  placeholder="Ex: john1234"
                  required
                  value="{{dokter['passwords']}}"
                />
      </div>
            </div>
            <button type="submit" class="edit-button">Simpan Perubahan</button>
          </form>
        </section>
      </main>
    </div>
    <footer>
      <p>&copy; 2024 Klinik SehatBro. | All Rights Reserved</p>
    </footer>
  </body>
</html>
