<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='styles/Booking/doctorScheduleStyle.css') }}"
    />
    <title>Doctor Booking</title>
  </head>
  <body>
    {% include "flashTemplate.html" %}

    <h1>Doctor's Schedule</h1>
    <table>
      <thead>
        <tr>
          <th>Day</th>
          <th>Start Time</th>
          <th>End Time</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>{{ schedule[0] }}</td>
          <td>{{ schedule[1] }}</td>
          <td>{{ schedule[2] }}</td>
        </tr>
      </tbody>
    </table>

    <h2>Book an Appointment</h2>
    <form
      action="{{ url_for('book_for_doctor', id_jadwal=id_jadwal) }}"
      method="POST"
    >
      <label for="tanggal_janji">Select Date:</label>
      <input type="date" name="tanggal_janji" id="tanggal_janji" required />
      <br />
      <button type="submit">Confirm Booking</button>
    </form>
  </body>
</html>
