<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/Profile/riwayatMedisStyle.css') }}" />
    <title>Riwayat Medis Pasien</title>
</head>

<body>
    <div class="container">
        <aside class="sidebar">
            <div class="logo">
              <h1>Klinik SehatBro.</h1>
            </div>
            <nav>
              <ul>
                <li id="nav-homepage">
                  <img src="{{ url_for('static', filename='images/Profile/home-gray.png') }}" />
                  <a href="{{ url_for('homepage') }}">Homepage</a>
                </li>
                <li id="nav-booking">
                  <img src="{{ url_for('static', filename='images/Profile/calendar-add.png') }}" />
                  <a href="{{ url_for('booking') }}">Booking</a>
                </li>
                <li id="nav-jadwal">
                  <img src="{{ url_for('static', filename='images/Profile/calendar-tick-gray.png') }}" />
                  <a href="{{ url_for('jadwaltemu') }}">Jadwal Temu</a>
                </li>
                <li id="nav-tagihan">
                  <img src="{{ url_for('static', filename='images/Profile/receipt-text.png') }}" />
                  <a href="{{ url_for('tagihan') }}">Tagihan</a>
                </li>
                <li id="nav-profile">
                  <img src="{{ url_for('static', filename='images/Profile/profile-circle-white.png') }}" />
                  <a href="{{ url_for('profile') }}">Profile</a>
                </li>
                <li id="nav-logout">
                  <img src="{{ url_for('static', filename='images/Profile/logout.png') }}" />
                  <a href="{{ url_for('login') }}">Logout</a>
                </li>
              </ul>
            </nav>
          </aside>

        <main class="main-content">
            <header>
                <h1>Riwayat Medis</h1>
            </header>
            <section class="medical-history">
                <div class="pdf-container">
                  {% if file_path %}
                  <embed src="{{ url_for('uploaded_file', filename=file_path.replace("\\", "/").split('/')[-1]) }}" width="100%" height="600px" type="application/pdf" />
                  {% else %}
                    <span>Tidak ada file riwayat medis</span>
                  {% endif %}
                </div>
            </section>
        </main>
    </div>

    <footer class="footer">
        <p>&copy; 2024 Klinik SehatBro | All Rights Reserved</p>
    </footer>
</body>

</html>