/* Reset CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  background-color: #f4f4f4;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.container {
  display: flex;
  flex: 1;
  width: 100%;
}

/* Sidebar */
.sidebar {
  width: 250px;
  background-color: white;
  color: #3b9ab8;
  padding: 20px;
  height: 100vh;
  position: fixed;
}

.sidebar .logo h1 {
  font-size: 1.8rem;
  margin-bottom: 30px;
}

nav ul {
  list-style-type: none;
  padding: 0;
}

nav ul li {
  margin: 15px 0;
  padding: 5px 10px;
  border-radius: 5px;
  display: flex;
  column-gap: 10px;
  align-items: center;
}

nav ul li:hover {
  background-color: #3b9bb839;
}

nav ul li a {
  color: #7e7e7e;
  text-decoration: none;
  font-size: 1.2rem;
}

nav ul li a:hover {
  text-decoration: underline;
}

nav ul img {
  width: 24px;
  height: 24px;
}

#nav-tagihan {
  background-color: #3b9ab8;
}
#nav-tagihan a {
  color: white;
}

/* Header */
header {
  text-align: center;
  margin-bottom: 20px;
}

header h1 {
  font-size: 2rem;
  color: #3b9ab8;
}

/* Main Content */
.main-content {
  margin-left: 250px;
  padding: 20px;
  flex: 1;
  overflow-y: auto;
}

h2 {
  font-size: 1.5rem;
  margin-bottom: 15px;
}

header h1 {
  font-size: 2rem;
  margin-bottom: 20px;
}

.invoice-container {
  width: 80%;
  margin: 0 auto;
  background-color: white;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.invoice-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
  border-bottom: 2px solid #ddd;
  padding-bottom: 10px;
}

.invoice-logo h1 {
  font-size: 2rem;
  color: #3b9ab8;
}

.invoice-details p {
  font-size: 1rem;
  text-align: right;
}

.patient-info,
.services,
.total {
  margin-top: 30px;
}

.patient-info h2,
.services h2,
.total h2 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.patient-info p,
.services p {
  font-size: 1.2rem;
}

.services-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}

.services-table th,
.services-table td {
  padding: 12px;
  text-align: center;
  border: 1px solid #ddd;
}

.services-table th {
  background-color: #3b9ab8;
  font-size: 1.1rem;
  color: white;
}

.services-table td {
  font-size: 1rem;
}

.total {
  margin-top: 20px;
  font-size: 1.3rem;
  font-weight: bold;
  text-align: right;
}

payment-status {
  margin-top: 20px;
}

.status {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.status-text {
  font-size: 1.2rem;
  color: red;
  font-weight: bold;
}

.pay-button {
  background-color: red;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.pay-button:hover {
  background-color: darkred;
}

/* Footer */
footer {
  text-align: center;
  background-color: #3b9ab8;
  color: white;
  padding: 10px;
  margin-top: 20px;
  position: relative;
}