<nav class="sidenav">
  <ul>
    <li id="nav-homepage">
      <img src="{{ url_for('static', filename='images/Admin/home_gray.png') }}" />
      <a href="{{ url_for('homepageAdmin') }}" id="link-homepage">Dashboard</a>
    </li>
    <li id="nav-pekerja" class="dropdown">
      <img src="{{ url_for('static', filename='images/Admin/person_white.png') }}" />
      <a href="#" id="link-pekerja">Kelola Pekerja</a>
      <ul class="dropdown-menu">
        <li><a href="{{ url_for('kelolaDokter') }}">Dokter</a></li>
        <li><a href="{{ url_for('kelolaPerawat') }}">Perawat</a></li>
        <li><a href="{{ url_for('kelolaPetugas') }}">Petugas Administrasi</a></li>
      </ul>
    </li>
    <li id="nav-pasien">
      <img src="{{ url_for('static', filename='images/Admin/patient_gray.png') }}" />
      <a href="{{ url_for('kelolaPasien') }}">Kelola Pasien</a>
    </li>
    <li id="nav-logout">
      <img src="{{ url_for('static', filename='images/Admin/logout.png') }}" />
      <a href="{{ url_for('login') }}">Logout</a>
    </li>
  </ul>
</nav>
