<!DOCTYPE html>
  <html lang="en">
    <head>
      <meta charset="UTF-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <link rel="stylesheet" href="dashboardTagihan.css" />
      <title>Dashboard Tagihan</title>
      </head>
    <body>
      {% include "flashTemplate.html" %}

      <div class="container">
        <aside class="sidebar">
          <div class="logo">
            <h1>Klinik SehatBro.</h1>
          </div>
          <nav>
            <ul>
              <li id="nav-homepage">
                <img src="{{ url_for('static', filename='images/Booking/home-gray.png') }}" />
                <a href="{{ url_for('homepage') }}" id="link-homepage">Homepage</a>
              </li>
              <li id="nav-daftar">
                <img src="{{ url_for('static', filename='images/Booking/calendar-add-white.png') }}" />
                <a href="{{ url_for('pendaftaranPasien') }}">Pendaftaran Pasien</a>
              </li>
              <li id="nav-invoice">
                <img src="{{ url_for('static', filename='images/Booking/calendar-tick-gray.png') }}" />
                <a href="{{ url_for('buatInvoice') }}">Buat Invoice</a>
              </li>
              <li id="nav-dashboard">
                <img src="{{ url_for('static', filename='images/Booking/receipt-text.png') }}" />
                <a href="#">Dashboard Tagihan</a>
              </li>
              <li id="nav-profile">
                <img src="{{ url_for('static', filename='images/Booking/profile-circle.png') }}" />
                <a href="{{ url_for('profile') }}">Profile</a>
              </li>
              <li id="nav-logout">
                <img src="{{ url_for('static', filename='images/Booking/logout.png') }}" />
                <a href="{{ url_for('login') }}">Logout</a>
              </li>
            </ul>
          </nav>
        </aside>
  
        <main class="main-content">
          <header>
            <h1>Dashboard Tagihan</h1>
          </header>
  
          <form class="search-bar" action="" method="GET">
              <input type="text" placeholder="Cari Nama Pasien">
              <button type="submit">
                  <img src="{{ url_for('static', filename='images/search-icon.png') }}" alt="Search">
              </button>
          </form>
          <section id="homepage" class="content-section">
              <table>
                  <tr>
                      <th>Nomor Rekam Medis</th>
                      <th>Nama Pasien</th>
                      <th>Total Tagihan</th>
                      <th></th>
                  </tr>
                  <tr>
                      <td>NP00001</td>
                      <td>John Doe</td>
                      <td>Rp.200.000</td>
                      <td><button class="info-button">Info</button></td>
                  </tr>
                  <tr>
                      <td>NP00002</td>
                      <td>Jane Smith</td>
                      <td>Rp.300.000</td>
                      <td><button class="info-button">Info</button></td>
                  </tr>
                  <tr>
                      <td>NP00003</td>
                      <td>Alexander</td>
                      <td>Rp.250.000</td>
                      <td><button class="info-button">Info</button></td>
                  </tr>
              </table>
          </section>
        </main>
        </div>
  
      <footer>
        <p>&copy; 2024 Klinik SehatBro. | All Rights Reserved</p>
      </footer>
    </body>
  </html>          